
/*Site Color Constant - Change only the below property for different sites */
.dnb_secondary li:hover{
    border-top: 2px solid rgb(230, 126, 34);
}
.dnb_secondary{
    box-shadow: 0px 3px 0px rgb(230, 126, 34),0px 2px 5px rgba(230,126,34,0.8);
}

/* General Properties */
html,body{
    margin: 0px;
    padding: 0px;
    overflow-x: scroll;
}

/* Primary Navbar Properties */
#dnb_primary{
    height: auto;
    position: relative;
    background-color:#fff;
    overflow:visible;
    z-index: 99;
    padding-bottom: 0.5em;
}
#dnb_primary ul{
    margin-top:0.5em;
    padding-left: 0px;
}
#dnb_primary li{
    display: inline;
}
#dnb_primary a{
    color: #000;
    text-decoration: none;
}
#dnb_primary .btn:hover a{
    color: #BBB;
}

/* Primary Navbar Components */
#dnb_logo{
    font-size: 1.7em;
}
#dnb_logo p{
    position: relative;
    top:50%;
    margin-bottom: auto;
}
.dropdown-menu{
    z-index: 99;
}
.dnb_id{
    padding-left: 5px;
}

/* Secondary Navbar Properties */
.dnb_secondary a{
    text-decoration: none;
}
.dnb_secondary{
    box-sizing: border-box;
    width: 100%;
    height:40px;
    left:0px;
    position:relative;
    margin-top: auto;
    z-index: 98;
}

.dnb_secondary ul{
    list-style-type: none;
    margin-bottom: 0px;
    box-sizing: border-box;
}

.dnb_secondary li{
    border-top: 2px solid rgba(255, 255, 255,0);
}
/* Secondary Navbar Component Properties */
.btn2 {
    color: #000;
    font-size: 0.925em;
    font-weight: 200;
    text-decoration: none;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
}
#dnb_secondary_logo{
    font-size: 1.1em;
    text-align: left;
    margin-bottom: 0px;
}
.btn2 a{
    color: white;
}

/* Content Properies */
.content{
    position: absolute;
    top:100px;
}

.dropdown ul{
background-color: rgba(255,255,255,0.9);
border: 1px solid #bbb;
}
.dropdown:hover ul{
display: block;
margin-top: -5px;
}
.ad{
margin-top: 5px;
}

.container{
    box-shadow: 0px -2px 4px #aaa,-2px -2px 4px #aaa;
    background-color: #fff;
}

body{
    background-color: rgba(230, 126, 34, 0.1);
}
.comments{
    margin-bottom: 3px;
    padding-bottom: 3px;
}
textarea{
resize: none;
}